.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
    background: linear-gradient(rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5)), url("https://images.pexels.com/photos/3184450/pexels-photo-3184450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    font-family: 'Lora', serif;
    border: none;
    outline: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    font-family: 'Lora', serif;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: #c1f7c3;
}

.loginRegButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    font-family: 'Lora', serif;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}