.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}

.headerTitles1 {
    position: absolute;
    top: 18%;
    width: 250px;
}

.headerTitles2 {
    position: absolute;
    top: 28%;
    font-size: 60px;
    color: #fff;
    z-index: 1;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
    filter: brightness(60%);
}


@media only screen and (max-width: 768px) {
    .headerTitles1 {
        width: 200px;
    }

    .headerTitles2 {
        font-size: 40px;
    }

    .headerImg {
        height: 350px;
    }
}

@media only screen and (max-width: 576px) {
    .headerTitles1 {
        width: 150px;
    }

    .headerTitles2 {
        font-size: 30px;
    }

    .headerImg {
        height: 300px;
    }
}